<head>
<style>
  *{outline:0px dashed red;}
</style>
</head>
<%= render "navbar" %>
  
  
  <div class="row">
    <div class="col-md-7">
    <fieldset>
      <legend>
        <button id="disaster-name-dv" class="rounded fs-1 poppins dropdown-toggle border-0 fw-bold mt-4 mx-5 bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
          Typhoon Juan
        </button>
        <ul class="dropdown-menu">
        <li>Typhoon B</li>
        <li>Typhoon C</li>
        <li>Typhoon D</li>
        <li>Typhoon E</li>
        <li>Typhoon F</li>
        <li>Typhoon G</li>
        <li>Typhoon H</li>
        <li>Typhoon I</li>
        <li>Typhoon J</li>
        </ul>
      </legend>
    </div>
    <div class="col">
      <div class="p-2">
        <a href="/register"class="btn btn-primary btn-lg">Add Volunteer Profile</a>
        <%= link_to evac_center_form_path, id: "add-evac-center", class: "btn btn-primary btn-lg" do %>
          <i class="fa-solid fa-folder-plus px-2"></i> Add Evacuation Center
        <% end %>
      </div>
    </div>
  </fieldset>
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4 px-5 m-0">
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  <div class="col">
    <%= render "evac_center_card" %>
  </div>
  
</div>

