<%= render "main/back_button" %>

<fieldset id="evac-form" class="rounded m-5 p-5 border-opacity-75 position-relative">
<%= link_to "Facilities", evac_facilities_form_path, id: "faci-tab",  style: "z-index: 1",class: "is-active poppins py-3 px-4 position-absolute rounded-top" %>
<%= link_to "Essentials", evac_essentials_form_path, id: "esse-tab" , class: "poppins p-3 btn btn-secondary position-absolute" %>

<%= form_with(model: @evac_profile, local: true, class: "row g-3") do |form| %>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4 class="oswald fw-bold">Sta. Cruz Evacuation Center</h4>
        </div>
    </div>

    <div class="row">
        <h4 class="oswald">Add Facilities</h4>
    </div>
    <div class="row mb-3">
        <div class="col-md-8">
            <p class="form-label poppins">Facility Type</p>
            <%= form.select :barangay, options_for_select(["Compost Pit", "Sealed", "Portalets - Male", "Portalets - Female", "Portalets - Common", "Bathing Cubicles - Male", "Bathing Cubicles - Female", "Bathing Cubicles - Common"  ], prompt: "Select an item"), {}, class: "form-control" %>
        </div>
        <div class="col-md-3">
            <p class="form-label poppins">Count</p>
            <%= form.number_field :compost_pit, class: "form-control" %>
        </div>
        <div class="col-md-1 position-relative">
            <%= link_to evac_facilities_form_path, class: "btn btn-primary position-absolute bottom-0 px-3" do %>
                <i class="fa-solid fa-plus"></i> Add
            <% end %>
        </div> 
        
        
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover border rounded">
            <h4 class="oswald">Confirmation</h4>
            <thead>
                <tr>
                <th class="col-md-6">Facility Type</th>
                <th class="col-md-2">Count</th>
                <th class="col-md-4"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="">
                    <td>Pillows</td>
                    <td>28</td>
                    <td class="position-relative">
                    <div class="position-absolute end-0 pe-4">
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                            Confirm
                        <% end %>
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                            <i class="fa-solid fa-x px-2"></i>
                        <% end %>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Spoon & Fork</td>
                    <td>50</td>
                    <td class="position-relative">
                    <div class="position-absolute end-0 pe-4">
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                            Confirm
                        <% end %>
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                            <i class="fa-solid fa-x px-2"></i>
                        <% end %>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Spoon & Fork</td>
                    <td>50</td>
                    <td class="position-relative">
                    <div class="position-absolute end-0 pe-4">
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                            Confirm
                        <% end %>
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                            <i class="fa-solid fa-x px-2"></i>
                        <% end %>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Spoon & Fork</td>
                    <td>50</td>
                    <td class="position-relative">
                    <div class="position-absolute end-0 pe-4">
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                            Confirm
                        <% end %>
                        <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                            <i class="fa-solid fa-x px-2"></i>
                        <% end %>
                    </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-7">
        <p class="form-label poppins">Item</p>
        <%= form.select :barangay, options_for_select(["Compost Pit", "Sealed", "Portalets - Male", "Portalets - Female", "Portalets - Common", "Bathing Cubicles - Male", "Bathing Cubicles - Female", "Bathing Cubicles - Common"  ], prompt: "Select an item"), {}, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <p class="form-label poppins">Unit</p>
        <%= form.text_field :compost_pit, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <p class="form-label poppins">Quantity</p>
        <%= form.number_field :compost_pit, class: "form-control" %>
      </div>
      <div class="col-md-1 position-relative">
        <%= link_to evac_facilities_form_path, class: "btn btn-primary position-absolute bottom-0 px-3" do %>
          <i class="fa-solid fa-plus"></i> Add
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover border rounded">
          <h4 class="oswald">Confirmation</h4>
          <thead>
            <tr>
              <th class="col-md-6">Item</th>
              <th class="col-md-2">Qty</th>
              <th class="col-md-4"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="">
              <td>Pillows</td>
              <td>28 pcs</td>
              <td class="position-relative">
                <div class="position-absolute end-0 pe-4">
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                    Confirm
                  <% end %>
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                    <i class="fa-solid fa-x px-2"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>Spoon & Fork</td>
              <td>50 pairs</td>
              <td class="position-relative">
                <div class="position-absolute end-0 pe-4">
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                    Confirm
                  <% end %>
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                    <i class="fa-solid fa-x px-2"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>Spoon & Fork</td>
              <td>50 pairs</td>
              <td class="position-relative">
                <div class="position-absolute end-0 pe-4">
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                    Confirm
                  <% end %>
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                    <i class="fa-solid fa-x px-2"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>Spoon & Fork</td>
              <td>50 pairs</td>
              <td class="position-relative">
                <div class="position-absolute end-0 pe-4">
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-success btn-sm" do %>
                    Confirm
                  <% end %>
                  <%= link_to evac_facilities_form_path, class: "btn btn-outline-danger btn-sm" do %>
                    <i class="fa-solid fa-x px-2"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</fieldset>
