<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover border rounded">
      <h4 class="oswald">List of Essential Items for Year <%= evac_yearly_profile.year %></h4>
      <thead>
        <tr>
          <th class="col-md-6">Item</th>
          <th class="col-md-2">Count</th>
          <th class="col-md-2">Status</th>
          <th class="col-md-4">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% assigned_yearly_esses.each do |ae| %>
          <% if EvacuationEssential.find_by(id: ae.ess_id)%>
            <% if EvacuationEssential.find(ae.ess_id).ess_type == "ESSENTIAL"%>
              <tr>
                <td><strong><%= EvacuationEssential.find(ae.ess_id).name %></strong></td>
                <td><%= ae.quantity %></td>
                <td><%= ae.status %></td>
                <td style = "width:30%;">
                  <% if evac_center.status != "ARCHIVED" && session[:user_type] == "CAMP MANAGER"%>
                    <%= render partial: "/layouts/delete_button",locals:{link: "/assigned_essential/#{ae.id}"}%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>NULL</td>
              <td><%= ae.quantity %></td>
              <td><%= ae.status %></td>
              <td style = "width:30%;">
                <% if evac_center.status != "ARCHIVED" && session[:user_type] == "CAMP MANAGER"%>
                  <%= render partial: "/layouts/delete_button",locals:{link: "/assigned_essential/#{ae.id}"}%>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
