<div class = "row">
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-md-auto">
        <h1 class="oswald fw" >EVACUEES OVERVIEW</h1>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col" style="border-right: 2px solid white;">
        <div class="row">
          <div class="col-md-5">
            <p class="h4 oswald fw" align="right">MALE: </p>
          </div>
          <div class="col">
            <p class="h2 oswald fw"><%= countGenderEvacuated(evac_center.id,disaster, "Male") %> <i class="fa-solid fa-person"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p class="h4 oswald fw" align="right">FEMALES: </p>
          </div>
          <div class="col">
            <p class="h2 oswald fw"><%= countGenderEvacuated(evac_center.id,disaster, "Female") %> <i class="fa-solid fa-person-dress"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p class="h4 oswald fw" align="right">TOTAL: </p>
          </div>
          <div class="col">
            <p class="h2 oswald fw"><%= countIndivEvacuated(evac_center.id,disaster)%> <i class="fa-solid fa-people-group"></i></p>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="col-md-7">
            <p class="h4 oswald fw" align="right">FAMILIES CURRENTLY EVACUATED: </p>
          </div>
          <div class="col">
            <p class="h2 oswald fw"><%= countGenFamily(evac_center.id,disaster,true) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <p class="h4 oswald fw" align="right">OVERALL FAMILIES EVACUATED: </p>
          </div>
          <div class="col">
            <p class="h2 oswald fw"><%= countGenFamily(evac_center.id,disaster,false) %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <h2 class="oswald fw">ACTIONS</h2>
        <% if session[:user_type] == "ADMIN"%>
          <div class="col">
            <a  href="<%=evac_center.id%>/log/<%=disaster.id%>" class="btn btn-primary bg-navy oswald fw-bold w-100 m-1" style="font-size: 22px">LOG EVACUEES <i class="fa-solid fa-clipboard-user fa-xl"></i></a>
          </div>
        <% else %>
          <% if User.find(session[:user_id]).currently_assigned != nil%>
            <% if User.find(session[:user_id]).currently_assigned == evac_center.id %>
              <div class="col">
                <a  href="<%=evac_center.id%>/log/<%=disaster.id%>" class="btn btn-primary bg-navy oswald fw-bold w-100" style="font-size: 22px">LOG EVACUEES <i class="fa-solid fa-clipboard-user"></i></a>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if User.find(session[:user_id]).currently_assigned != nil|| session[:user_type] == "ADMIN" %>
          <% if User.find(session[:user_id]).currently_assigned == evac_center.id || session[:user_type] == "ADMIN" %>
            <a href="<%=evac_center.id%>/<%=disaster.id%>/evacuated" class="btn btn-primary bg-navy w-100 oswald fw-bold m-1" style="font-size: 22px">VIEW EVACUEES <i class="fa-solid fa-users-viewfinder fa-xl"></i></a>
          <% end %>
        <% end %>
        <% if session[:user_type] == "ADMIN"%>
          <div class="col">
            <button type="button" style="font-size: 22px" class="btn btn-dark bg-dgray w-100 dropdown-toggle oswald fw-bold m-1 dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              DOWNLOAD As
            </button>
            <ul class="dropdown-menu oswald fw p-1 text-center" style="font-size:2em">
              <p class="">Lists</p>
              <li class="m-1"><a href="<%=evac_center.id%>/<%=disaster.id%>/generate.xls", class= "dropdown-item p-1 mt-1">.XLS <i class="fa-solid fa-table d-inline"></i></a></li>
              <li class="m-1"><a href="<%=evac_center.id%>/<%=disaster.id%>/generate.csv", class= "dropdown-item p-1 mb-1">.CSV <i class="fa-solid fa-file-csv d-inline"></i></a></li>
            </ul>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <% capacityPercentage = getCapacityPercentage(countIndivEvacuated(evac_center.id,disaster),evac_center.capacity.to_i)%>
    <h4>Capacity: </h4>
    <div class="w3-border" style = "text-align:center;border:1px solid #ccc; border-radius:5px; overflow:hidden;">
      <div class="w3-grey" style="background-color:#4CAF50; color:black; text-align:center; line-height: 30px; height:24px;width:<%=capacityPercentage%>%"><strong><%= capacityPercentage %>%</strong></div>
    </div>
    <div class="row m-0 mt-4" id="age_distribution"></div>
    <div class="row m-0 oswald">
      <table class="table table-light">
        <thead class="table-secondary">
          <th>Age Range</th>
          <th>No. of MALEs</th>
          <th>No. of FEMALEs</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr>
            <th>Infant</th>
            <td style="color:#005ec9;"><%= getInfants(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getInfants(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getInfants(evac_center.id, disaster.id,"Male") + getInfants(evac_center.id, disaster.id,"Female") %></td>
          </tr>
          <tr>
            <th>Toddlers</th>
            <td style="color:#005ec9;"><%= getToddlers(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getToddlers(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getToddlers(evac_center.id, disaster.id,"Male") + getToddlers(evac_center.id, disaster.id,"Female") %></td>
          </tr>
          <tr>
            <th>Preschoolers</th>
            <td style="color:#005ec9;"><%= getPreschoolers(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getPreschoolers(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getPreschoolers(evac_center.id, disaster.id,"Male") + getPreschoolers(evac_center.id, disaster.id,"Female")%></td>
          </tr>
          <tr>
            <th>Schoolage</th>

            <td style="color:#005ec9;"><%= getSchoolagers(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getSchoolagers(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getSchoolagers(evac_center.id, disaster.id,"Male") + getSchoolagers(evac_center.id, disaster.id,"Female")%></td>
          </tr>
          <tr>
            <th>Teenage</th>
            <td style="color:#005ec9;"><%= getTeenagers(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getTeenagers(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getTeenagers(evac_center.id, disaster.id,"Male") + getTeenagers(evac_center.id, disaster.id,"Female")%></td>
          </tr>
          <tr>
            <th>Adult</th>
            <td style="color:#005ec9;"><%= getAdults(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getAdults(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getAdults(evac_center.id, disaster.id,"Male") + getAdults(evac_center.id, disaster.id,"Female")%></td>
          </tr>
          <tr>
            <th>Senior Citizens</th>
            <td style="color:#005ec9;"><%= getSeniors(evac_center.id, disaster.id,"Male")%></td>
            <td style="color:#cf4696;"><%= getSeniors(evac_center.id, disaster.id,"Female")%></td>
            <td><%= getSeniors(evac_center.id, disaster.id,"Male") + getSeniors(evac_center.id, disaster.id,"Female")%></td>
          </tr>
          <tr class="table-secondary fw-bold">
            <th>TOTAL</th>
            <td style="color:#005ec9;"><%=countGenderEvacuated(evac_center.id,disaster, "Male")%></td>
            <td style="color:#cf4696;"><%=countGenderEvacuated(evac_center.id,disaster, "Female")%></td>
            <td><%=countGenderEvacuated(evac_center.id,disaster, "Male") + countGenderEvacuated(evac_center.id,disaster, "Female")%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p style="border-bottom:4px solid white">&nbsp;</p>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-auto">
          <h1 class="oswald fw" >RELIEF GOODS OVERVIEW</h1>
        </div>
        <% if session[:user_type] == "ADMIN"%>
          <div class="col">
            <a href="#" class="btn btn-info w-100 oswald fw-bold m-1" style="font-size:22px"> UPDATE RELIEF GOODS <i class="fa-solid fa-utensils fa-xl"></i> </a>
          </div>
        <% else %>
          <% if User.find(session[:user_id]).currently_assigned != nil%>
            <% if User.find(session[:user_id]).currently_assigned == evac_center.id %>
              <% if evac_center.status == nil%>
                <div class="col">
                  <%= link_to "Update", log_relief_form_path, class: "btn btn-outline-danger w-100 oswald fw-bold" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col">
              <p class="h2 oswald fw" align="center">FOOD: </p>
            </div>
            <div class="col">
              <p class="h2 oswald fw" align="center">0 <i class="fa-solid fa-bowl-food"></i></p>
            </div>
          </div>
          <div class="row" style="border-top: 2px solid white;">
            <div class="col">
              <p class="h2 oswald fw" align="center"> NON-FOOD: </p>
            </div>
            <div class="col">
              <p class="h2 oswald fw" align="center">0 <i class="fa-solid fa-shirt"></i></p>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <p>&nbsp;</p>
      <a href="" class="btn btn-secondary w-100 oswald fw-bold">VIEW RELIEF</a>
    </div>
  </div>
</div>
