<fieldset id="evac-form" class="rounded m-5 p-5 border-opacity-75 position-relative">
  <%= link_to "Facilities", "/evac_facilities_form/#{@evac_center.id}/#{@evac_yearly_profile.id}", id: "faci-tab",  style: "z-index: 1",class: "poppins py-3 px-4 btn btn-secondary position-absolute" %>
  <%= link_to "Essentials", "/evac_essentials_form/#{@evac_center.id}/#{@evac_yearly_profile.id}", id: "esse-tab" ,class: "is-active poppins py-3 px-4 position-absolute rounded-top"  %>
  <h4 class="oswald fw-bold"><%= @evac_center.name%></h4>
  <% if @evac_center.status != "ARCHIVED" && session[:user_type] == "CAMP MANAGER"%>
    <h4 class="oswald">Add Essentials</h4>
    <div id =  "form_area">
      <%= render partial: "evac_essentials_form", locals:{evac_center: @evac_center, evac_yearly_profile: @evac_yearly_profile, assigned_yearly_ess: AssignedYearlyEss.new}%>
    </div>
  <% end %>
  <br>
  <div id = "display_area">
    <%= render partial: "display_evac_essential", locals:{evac_center:@evac_center, evac_yearly_profile: @evac_yearly_profile, assigned_yearly_esses: @assigned_yearly_esses }%>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-left">
      <li class="page-item ">
        <% if @page  > 0 %>
          <%= link_to "Previous Page", "/evac_essentials_form/#{@evac_center.id}/#{@evac_yearly_profile.id}?page=#{@page-1}", class:"page-link"%>
        <% end %>
      </li>
      <li class="page-item">
        <%= link_to "Next Page","/evac_essentials_form/#{@evac_center.id}/#{@evac_yearly_profile.id}?page=#{@page + 1}", class:"page-link"%>
      </li>
    </ul>
  </nav>
</fieldset>
<style>
  body{
    background: rgb(89,147,188);
    background: linear-gradient(0deg, rgba(89,147,188,1) 1%, rgba(21,38,74,1) 100%);
    background-attachment: fixed;
  }
</style>
