<table class="customTable">
  <thead>
    <tr>
      <th>Report Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GENERATED AS OF</td>
      <td><%= Time.current %></td>
      <td><%= User.find(session[:user_id]).full_name %></td>
      <td><%= User.find(session[:user_id]).email %></td>
      <td><%= User.find(session[:user_id]).cnum %></td>
    </tr>
    <tr>
      <td>INCIDENT NAME</td>
      <td><%= @disaster.name%></td>
      <td><%= @disaster.disaster_type%></td>
      <td colspan='2'><%= @disaster.date_of_occurence %></td>
      
    </tr>
    <tr>
      <td>EVACUATION CENTER</td>
      <td><%= @evac_center.name %></td>
      <td>ADDRESS</td>
      <td colspan="4"><%= @evac_center.barangay%>, Naga City, Camarines Sur</td>
    </tr>
    <tr>
      <td colspan="7">NOTED BY</td>
    </tr>
    <tr>
      <td>Age Range</td>
      <td colspan="2">No. Of MALEs</td>
      <td></td>
      <td colspan="2">No. Of FEMALEs</td>
      <td></td>

    </tr>
    <tr>
      <td>Row 6, Cell 1</td>
      <td>Row 6, Cell 2</td>
      <td>Row 6, Cell 3</td>
      <td>Row 6, Cell 4</td>
      <td>Row 6, Cell 5</td>
      <td>Row 6, Cell 6</td>
      <td>Row 6, Cell 7</td>
      <td>Row 6, Cell 8</td>
    </tr>
    <tr>
      <td>Row 7, Cell 1</td>
      <td>Row 7, Cell 2</td>
      <td>Row 7, Cell 3</td>
      <td>Row 7, Cell 4</td>
      <td>Row 7, Cell 5</td>
      <td>Row 7, Cell 6</td>
      <td>Row 7, Cell 7</td>
      <td>Row 7, Cell 8</td>
    </tr>
    <tr>
      <td>Row 8, Cell 1</td>
      <td>Row 8, Cell 2</td>
      <td>Row 8, Cell 3</td>
      <td>Row 8, Cell 4</td>
      <td>Row 8, Cell 5</td>
      <td>Row 8, Cell 6</td>
      <td>Row 8, Cell 7</td>
      <td>Row 8, Cell 8</td>
    </tr>
    <tr>
      <td>Row 9, Cell 1</td>
      <td>Row 9, Cell 2</td>
      <td>Row 9, Cell 3</td>
      <td>Row 9, Cell 4</td>
      <td>Row 9, Cell 5</td>
      <td>Row 9, Cell 6</td>
      <td>Row 9, Cell 7</td>
      <td>Row 9, Cell 8</td>
    </tr>
  </tbody>
</table>