<style>
  table.customTable {
  width: auto;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  color: #000000;
  }

  table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  }
</style>
<table class="customTable">
  <thead>
    <tr>
      <td>Report Number</td>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td>GENERATED AS OF</td>
      <td><%= Time.current %></td>
      <td><%= User.find(session[:user_id]).full_name %></td>
      <td><%= User.find(session[:user_id]).email %></td>
      <td><%= User.find(session[:user_id]).cnum %></td>
    </tr>
    <tr>
      <td>INCIDENT NAME</td>
      <td><%= @disaster.name%></td>
      <td><%= @disaster.disaster_type%></td>
      <td colspan='2'><%= @disaster.date_of_occurence %></td>
    </tr>
    <tr style="background: #9fc5e8">
      <td >NOTED BY</td>
      <td colspan="6"></td>
    </tr>
    <tr align ="center" style="background: #c5e0b3">
      <td rowspan="3">Barangay</td>
      <td colspan="5" rowspan="2">Number of Affected</td>
      <td colspan="4">Number of Displaced Inside ECs</td>
      <td colspan="4">INFANT 1y/o(0-11mos)</td>
      <td colspan="4">TODDLERS 1-3y/o</td>
      <td colspan="4">PRESCHOOLERS 4-5y/o</td>
      <td colspan="4">SCHOOLAGE 6-12y/o</td>
      <td colspan="4">TEENAGE 13-19y/o</td>
      <td colspan="4">ADULT 20-59y/o</td>
      <td colspan="4">SENIOR CITIZEN 60 AND ABOVE</td>
    </tr>
    <tr align ="center" style="background: #c5e0b3">
      <td colspan="2">FAMILIES</td>
      <td colspan="2">PERSONS</td>
      <% for i in 1..7 do %>
        <td colspan="2">MALE</td>
        <td colspan="2">FEMALE</td>
      <%end%>
      <td colspan="2">TOTAL COST OF ASSISTANCE</td>
      <td colspan="2">EVACUATION CENTER FACILITIES</td>
    </tr>
    <tr style="background: #c5e0b3">
      <td>EVACUATION CENTER</td>
      <td>COUNT</td>
      <td>FAMILIES</td>
      <td>PERSONS</td>
      <td>4Ps FAMILIES</td>
      <% for i in 1..2 do %>
        <td>CUM</td>
        <td>NOW</td>
      <%end%>
      <% for i in 1..14 do %>
        <td>CUM</td>
        <td>NOW</td>
      <%end%>
      <td>FOOD</td>
      <td>NON-FOOD</td>
      <%@essFaciTitles.each do |faci|%>
        <td><%=faci%></td>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @controller.barangay_group.each do |brgy|%>
    <tr>
      <td>
        <% brgy.titles %>
      </td>
    </tr>
  </tbody>
</table>
