<style>
    table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
    }

    table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
    }
</style>
<table class="customTable">
  <thead>
    <tr>
      <td>Report Number</td>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td>GENERATED AS OF</td>
      <td><%= Time.current %></td>
      <td><%= User.find(session[:user_id]).full_name %></td>
      <td><%= User.find(session[:user_id]).email %></td>
      <td><%= User.find(session[:user_id]).cnum %></td>
    </tr>
    <tr>
      <td>INCIDENT NAME</td>
      <td><%= @disaster.name%></td>
      <td><%= @disaster.disaster_type%></td>
      <td colspan='2'><%= @disaster.date_of_occurence %></td>
      
    </tr>
    <tr style="background: #9fc5e8">
      <td>EVACUATION CENTER</td>
      <td><%= @evac_center.name %></td>
      <td>ADDRESS</td>
      <td colspan="4"><%= @evac_center.barangay%>, Naga City, Camarines Sur</td>
    </tr>
    <tr style="background: #9fc5e8">
      <td >NOTED BY</td>
      <td colspan="6"></td>
    </tr>
    <tr style="background: #a5a5a5">
      <td rowspan="2">Age Range</td>
      <td colspan="2">No. Of MALEs</td>
      <td colspan="2">No. Of FEMALEs</td>
    </tr>
    <tr style="background: #a5a5a5">
      <td>CUM</td>
      <td>NOW</td>
      <td>CUM</td>
      <td>NOW</td>
    </tr>
    <tr style="background: #7f7f7f">
      <td>GRAND TOTAL</td>
      <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Male", false) %></td>
      <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Male", true) %></td>
      <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Female", false) %></td>
      <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Female", true)%></td>
    </tr>
  </thead>
</table>