<style>
  table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  color: #000000;
  }

  table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  }
</style>
<div class="card" >
  <div class="card-body" >
    <div class="card-deck">
      <div class="card shadow p-4 mb-1">
        <table class="customTable">
          <thead>
            <tr>
              <td>Report Number</td>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td>GENERATED AS OF</td>
              <td><%= Time.current %></td>
              <td><%= User.find(session[:user_id]).full_name %></td>
              <td><%= User.find(session[:user_id]).email %></td>
              <td><%= User.find(session[:user_id]).cnum %></td>
            </tr>
            <tr>
              <td>INCIDENT NAME</td>
              <td><%= @disaster.name%></td>
              <td><%= @disaster.disaster_type%></td>
              <td colspan='2'><%= @disaster.date_of_occurence %></td>
            </tr>
            <tr style="background: #9fc5e8">
              <td >NOTED BY</td>
              <td colspan="6"></td>
            </tr>
            <tr align ="center" style="background: #c5e0b3">
              <td rowspan="3">Barangay</td>
              <td colspan="5" rowspan="2">Number of Affected</td>
              <td colspan="4">Number of Displaced Inside ECs</td>
              <% age_groupT(false, 0).each do |titles| %>
                <td colspan="4"><%= titles %></td>
              <%end%>
            </tr>
            <tr align ="center" style="background: #c5e0b3">
              <td colspan="2">FAMILIES</td>
              <td colspan="2">PERSONS</td>
              <% age_groupT(false, 0).each do |titles|  %>
                <td colspan="2">MALE</td>
                <td colspan="2">FEMALE</td>
              <%end%>
            </tr>
            <tr style="background: #7f7f7f">
              <td>GRAND TOTAL</td>
              <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Male", false) %></td>
              <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Male", true) %></td>
              <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Female", false) %></td>
              <td><%= gcountGenderEvacuated(@evac_center.id,@disaster, "Female", true)%></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>INFANT</td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>TODDLER</td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetInfants(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>PRESCHOOLER</td>
              <td><%= ggetPreschoolers(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetPreschoolers(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetPreschoolers(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetPreschoolers(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>SCHOOLAGE</td>
              <td><%= ggetSchoolagers(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetSchoolagers(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetSchoolagers(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetSchoolagers(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>TEENAGE</td>
              <td><%= ggetTeenagers(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetTeenagers(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetTeenagers(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetTeenagers(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>ADULT</td>
              <td><%= ggetAdults(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetAdults(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetAdults(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetAdults(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
            <tr>
              <td>SENIOR</td>
              <td><%= ggetSeniors(@evac_center.id, @disaster.id,"Male", false) %></td>
              <td><%= ggetSeniors(@evac_center.id, @disaster.id,"Male", true) %></td>
              <td><%= ggetSeniors(@evac_center.id, @disaster.id,"Female", false) %></td>
              <td><%= ggetSeniors(@evac_center.id, @disaster.id,"Female", true)%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
