<%= render '/layouts/default_back' %>
<style>
  *{outline:0px dashed red;}
</style>
<div class="row p-2">
  <div class="col"></div>
  <div class="col-md-8" id="logging-style-form">
    <h1 class="oswald fw">RELIEF GOODS</h1>
    <table class="table table-striped table-hover border rounded">
      <thead>
        <tr>
          <th class="col">Name</th>
          <th class="col">Unit of MEASUREMENT</th>
          <th class="col">Cost per Unit(PHP)</th>
          <th class="col">Type</th>
          <th class="col">Description</th>
          <th class="col-md-2">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr >
          <td><b>Rice</b></td>
          <td>Kilograms</td>
          <td>70php</td>
          <td>Food</td>
          <td>Rice NFA</td>
          <td class="position-relative">
            <div class="row">
              <div class="col">
                <%= link_to "/log", class: "btn btn-dark btn-sm" do %>
                  <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>&nbsp;Edit
                <% end %>
              </div>
              <div class="col">
                <%= link_to "/log", class: "btn btn-danger btn-sm" do %>
                  <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>&nbsp;Delete
                <% end %>
              </div>
            </div>
          </tr>
          <tr >
            <td>Napkin </td>
            <td>Pack</td>
            <td>70</td>
            <td>Non-Food</td>
            <td>12 pieces per pack</td>
            <td class="position-relative">
              <div class="row">
                <div class="col">
                  <%= link_to "/log", class: "btn btn-dark btn-sm" do %>
                    <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>&nbsp;Edit
                  <% end %>
                </div>
                <div class="col">
                  <%= link_to "/log", class: "btn btn-danger btn-sm" do %>
                    <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>&nbsp;Delete
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col"></div>
  </div>
