<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Housenum:</strong>
    <%= family.houseNum %>
  </p>

  <p>
    <strong>Streetnum:</strong>
    <%= family.streetNum %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= family.barangay %>
  </p>

  <p>
    <strong>Is 4ps:</strong>
    <%= family.is_4ps %>
  </p>

</div>
