<div class = "row">
  <div class = "col-md-12">
    <h2 class="m-3 oswald fw-bold" style="border-bottom: 2px solid black;" >FAMILY MEMBERS</h2>
  </div>
  <div class ="row">
    <table class="table table-striped table-hover border rounded">
      <thead>
        <tr>
          <th class="col">First Name</th>
          <th class="col">Last Name</th>
          <th class="col">Age</th>
          <th class="col">Sex</th>
          <th class="col">Parent? </th>
          <th class="col">Pregnant? </th>
          <th class="col">PWD?</th>
          <th class="col">Breastfeeding?</th>
          <th class="col">Evacuated?</th>
          <th class="col-md-2">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% family_members.each do |member| %>
          <tr >
            <td><%= member.fname%></td>
            <td><%= member.lname%></td>
            <td><%= member.age%></td>
            <td><%= member.sex%></td>
            <% if member.is_parent == true %>
              <td>YES</td>
            <% else %>
              <td>NO</td>
            <% end %>
            <% if member.is_pregnant == true %>
              <td>YES</td>
            <% else %>
              <td>NO</td>
            <% end %>
            <% if member.is_pwd == true %>
              <td>YES</td>
            <% else %>
              <td>NO</td>
            <% end %>
            <% if member.is_breastfeeding == true %>
              <td>YES</td>
            <% else %>
              <td>NO</td>
            <% end %>
            <% if member.evacuee_id != 0 && member.evacuee_id != nil %>
              <% evacuee =Evacuee.find(member.evacuee_id)%>
              <td><a href = "/evac_centers/<%=evacuee.evac_id%>/<%=evacuee.disaster_id%>/evacuated"><%= EvacCenter.find(evacuee.evac_id).name %></a></td>
            <% else %>
              <td>NO</td>
            <% end %>
            <td >
              <%= form_with url: "/edit/member/#{member.id}", method: :post do |form|%>
                <%= form.button nil, class:"btn btn-dark btn-sm" do %>
                  <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>Edit
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
