<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Criteria</th>
      <th>Unit</th>
      <th>Product Name</th>
    </tr>
  </thead>
  <tbody>
    <% gen_rg_allocs.each do |gen|%>
      <% criterium = RgCriterium.find_by(gen_rg_alloc_id: gen.id)%>
      <tr>
        <%if search_type == "FOOD"%>
          <% if ReliefGood.find(gen.rg_id).is_food == true %>
            <% if ReliefGood.find(gen.rg_id).eligibility == "UNISEX"%>
              <td>All <strong>EVACUEES</strong> will receive </td>
            <% else %>
              <td>All <strong><%=ReliefGood.find(gen.rg_id).eligibility %></strong> will receive </td>
            <% end %>
            <td>
              <% if  EvacCenter.find(gen.evac_id).status != "ARCHIVED"%>
                <%= form_with url:"/save/configuration/#{RgCriterium.find_by(gen_rg_alloc_id: gen.id).id}", method: :post do |form|%>
                  <%= form.number_field :criteria, class:"form-control", :value => criterium.criteria, oninput: "this.form.requestSubmit()" %>
                <% end %>
              <% else %>
                <%= criterium.criteria%>
              <% end %>
            </td>
            <td><%=ReliefGood.find(gen.rg_id).unit%> of </td>
            <td><strong><%=gen.name%></strong></td>
          <% end %>
        <% else %>
          <% if ReliefGood.find(gen.rg_id).is_food == false %>
            <% if ReliefGood.find(gen.rg_id).eligibility == "UNISEX"%>
              <td>All <strong>EVACUEES</strong> will receive </td>
            <% else %>
              <td>All <strong><%=ReliefGood.find(gen.rg_id).eligibility %></strong> will receive </td>
            <% end %>
            <td>
              <% if  EvacCenter.find(gen.evac_id).status != "ARCHIVED"%>
                <%= form_with url:"/save/configuration/#{RgCriterium.find_by(gen_rg_alloc_id: gen.id).id}", method: :post do |form|%>
                  <%= form.number_field :criteria, class:"form-control", :value => criterium.criteria, oninput: "this.form.requestSubmit()" %>
                <% end %>
              <% else %>
                <%= criterium.criteria%>
              <% end %>
            </td>
            <td><%=ReliefGood.find(gen.rg_id).unit%> of </td>
            <td><strong><%=gen.name%></strong></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
