<div id="<%= dom_id camp_manager %>">
  <p>
    <strong>Fname:</strong>
    <%= camp_manager.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= camp_manager.lname %>
  </p>

  <p>
    <strong>Cnum:</strong>
    <%= camp_manager.cnum %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= camp_manager.address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= camp_manager.status %>
  </p>

</div>
