<div class="form-check" >
    <input class="form-check-input" type="checkbox" value="<%=x.id%>" id="<%=x.id%>_<%=x.fname %>">
        <label class="form-check-label w-100 "  for="<%=x.id%>_<%=x.fname %>"><%= x.fname%> <%= x.lname%></label>
    </label>
</div>