<div class="col-md-11 m-5 text-xs-center  mt-5">
  <div class="card" >
    <div class="card-body" >
      <div class="card-deck">
        <div class="card shadow p-4">
          <div class = "row m-0">
            <h2>LIST OF EVACUEES OF <%= EvacCenter.find(@evac_id).name %> FOR <%= Disaster.find(@disaster_id).name %></h2>
            <p>Occured at: <%= Disaster.find(@disaster_id).date_of_occurence %></p>
            <div class = "col-md-4">
              <h4 style = "float:right;">Search Family: </h4>
            </div>
            <div class = "col-md-3">
              <%= form_with url: "/evacuated/sort_by", method: :post do |form| %>
                <%= form.hidden_field :evac_id, :value=> @evac_id%>
                <%= form.hidden_field :disaster_id, :value=> @disaster_id%>
                <%= form.select :search_type, options_for_select(["RELEASED","UNRELEASED"]),{:prompt => "Select Search Type"},{class:"form-control", oninput: "this.form.requestSubmit()"}%>
              <% end %>
            </div>
            <div class = "col-md-3" id = "type_output">
            </div>
          </div>
          <br>
          <div id="evacuated-list" align="center">
            <div class="montserrat fw-bold col-10">
              <table class="table table-responsive table-sm table-hover ">
                <thead class="table-dark">
                  <th class="p-2">Last Name</th>
                  <th class="p-2">First Name</th>
                  <th class="p-2">Age</th>
                  <th class="p-2">Sex</th>
                  <th class="text-center p-2">Parent</th>
                  <th class="text-center p-2">Pregnant</th>
                  <th class="text-center p-2">Breastfeeding</th>
                  <th class="text-center p-2">PWD</th>
                  <th class="text-center p-2">STATUS</th>
                  <th class="text-center p-2">ACTION</th>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
