<%= form_with(model: relief_good) do |form| %>
  <% invalid_name = relief_good.errors.include?(:name) %>
  <% invalid_unit = relief_good.errors.include?(:unit) %>
  <% invalid_price = relief_good.errors.include?(:price) %>
  <% invalid_eligibility = relief_good.errors.include?(:eligibility) %>
  <% invalid_category = relief_good.errors.include?(:category) %>
  <div class="row">
    <div class="col">
      <div class="card shadow p-4 m-1">
        <h2 class="m-3 oswald fw-bold" >RELIEF INFORMATION</h2>
        <div class="form-group m-2 p-1">
          <%= form.label :name, class: "h5 oswald fw text-uppercase" do %>
            Name: 
          <% end %>
          <%= form.text_field :name, class:"form-control #{'is-invalid' if invalid_name}", placeholder: "Product Name"%>
          <% if invalid_name %>
            <div class="invalid-feedback d-block">
              <% relief_good.errors[:name].each do |error_message| %>
                <%= error_message %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="form-group m-2 p-1">
          <%= form.label :unit, class: "h5 oswald fw text-uppercase" do %>
            Unit of Measurement: 
          <% end %>
          <% if relief_good.unit == nil %>
            <%= form.select :unit, options_for_select(["Kilograms", "Pieces", "Meter"]), {:prompt => "Select Type"}, {class: "form-control #{'is-invalid' if invalid_unit}"} %>
          <% else %>
            <%= form.select :unit, options_for_select(["Kilograms", "Pieces", "Meter"],:selected => relief_good.unit.to_s ), {:prompt => "Select Type"}, {class: "form-control #{'is-invalid' if invalid_unit}"} %>
          <%  end %>
          <% if invalid_unit %>
            <div class="invalid-feedback d-block">
              <% relief_good.errors[:unit].each do |error_message| %>
                <%= error_message %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="form-group m-2 p-1">
          <%= form.label :price, class: "h5 oswald fw text-uppercase" do %>
            Cost Per Unit: 
          <% end %>
          <%= form.number_field :price, class:"form-control #{'is-invalid' if invalid_price}", placeholder: "Price Per Unit"%>
          <% if invalid_price %>
            <div class="invalid-feedback d-block">
              <% relief_good.errors[:price].each do |error_message| %>
                <%= error_message %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row m-2 p-1">
          <div class="col-md-auto m-1">
            <%= form.label :is_food, "Is this a Food? (Toggle if its food)", class:"form-check-label h5 oswald fw m-0 p-0 text-uppercase w-100"%>
          </div>
          <div class="col-md-auto m-1">
            <div class="form-check form-switch d-inline" >
              <%= form.check_box :is_food, class:"form-check-input p-2 m-1"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-4 m-1">
        <h2 class="m-3 oswald fw-bold" >RELIEF CONFIGURATION</h2>
        <div class="form-group m-2 p-1">
          <%= form.label :eligibility, class: "h5 oswald fw text-uppercase" do %>
            Product is for: 
          <% end %>
          <% if relief_good.eligibility == nil %>
            <%= form.select :eligibility, options_for_select(["MALE", "FEMALE", "UNISEX"]), {:prompt => "Select Type"}, {class: "form-control #{'is-invalid' if invalid_eligibility}"} %>
          <% else %>
            <%= form.select :eligibility, options_for_select(["MALE", "FEMALE", "UNISEX"],:selected => relief_good.eligibility.to_s), {:prompt => "Select Type"}, {class: "form-control #{'is-invalid' if invalid_eligibility}"} %>
          <%  end %>
          <% if invalid_eligibility %>
            <div class="invalid-feedback d-block">
              <% relief_good.errors[:eligibility].each do |error_message| %>
                <%= error_message %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="form-group m-2 p-1">
          <%= form.label :category, class: "h5 oswald fw text-uppercase" do %>
            Category(This will be assumed that the product can be use by chosen category and above): 
          <% end %>
          <% if relief_good.category == nil %>
            <%= form.select :category, options_for_select(["INFANTS","TODDLERS","PRE-SCHOOLERS","SCHOOLAGERS","TEENAGERS","ADULTS","SENIOR CITIZENS","ALL"]), {:prompt => "Select Category"}, {class: "form-control #{'is-invalid' if invalid_category}"} %>
          <% else %>
            <%= form.select :category, options_for_select(["INFANTS","TODDLERS","PRE-SCHOOLERS","SCHOOLAGERS","TEENAGERS","ADULTS","SENIOR CITIZENS","ALL"],:selected => relief_good.category.to_s), {:prompt => "Select Category"}, {class: "form-control #{'is-invalid' if invalid_category}"} %>
          <%  end %>
          <% if invalid_category %>
            <div class="invalid-feedback d-block">
              <% relief_good.errors[:category].each do |error_message| %>
                <%= error_message %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <button class="btn btn-success text-light rounded-bottom p-2 w-100 text-decoration-none text-center mt-4">DONE</button>
      </div>
    </div>
  </div>
<% end %>
