<div id="<%= dom_id relief_good %>">
  <p>
    <strong>Name:</strong>
    <%= relief_good.name %>
  </p>

  <p>
    <strong>Is food:</strong>
    <%= relief_good.is_food %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= relief_good.unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= relief_good.price %>
  </p>

</div>
